<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.apppubs.d20"
          android:versionCode="0"
          android:versionName="0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19"/>

    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="com.apppubs.d20.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- 极光推送 -->
    <uses-permission
        android:name="com.apppubs.d20.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>
    <!-- 支持网络视频 -->
    <!--<data-->
        <!--android:mimeType="video/*"-->
        <!--android:scheme="http"/>-->
    <!-- 分享权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- 使用摄像头需要加入相应的权限： -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>


    <!--高德地图-->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <!-- Donut-specific flags which allow us to run on any dpi screens. -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".MportalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppThemeBlue">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="76766a7e83c91521a811b6d9b2ae5168"/>

        <activity
            android:name=".activity.DebugActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".start.StartUpActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SkipActivity"
            android:screenOrientation="portrait">

            <!-- 国投协议 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="sdicoa"/>
                <data
                    android:host="apppubs.com"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeSlideMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LockActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HomeBottomMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".adbook.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.WeatherCitySelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.ChatPicInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".activity.PaperIssueActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PaperInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.WeatherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".WeatherActivity"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewsVideoInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SubjectInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.WebAppActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.NewsInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.NewsPictureInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.NewsAudioInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BaoliaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.UserCencerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CollectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FirstLoginActity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activity.VoteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.ChangTextSizeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SortChannelBActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddChannelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CommentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ContainerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".videoView.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.apppubs.multi_image_selector.MultiImageSelectorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.apppubs.multi_image_selector.PreviewPicturesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".message.activity.PrivateChatDetailActivity"/>
        <activity
            android:name=".message.activity.DiscussionDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".message.activity.ConversationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.apppubs.d20"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>
        <!-- 分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            如果集成QQ分享，或者使用QQ客户端来进行QQ空间的
            分享，须要在此处添加一个对ACTION_VIEW事件的过滤器，
            其中的scheme是“tencent”前缀再开发者应用的加上appId。
            如果此过滤器不设置，则分享结束以后不能得到正确的回调
            -->
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <!-- <activity -->
        <!-- android:name=".wxapi.WXEntryActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- 易信分享回调 -->
        <!-- <activity -->
        <!-- android:name=".yxapi.YXEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:excludeFromRecents="true" -->
        <!-- android:exported="true" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
        <activity
            android:name=".activity.ThemeSwitchActivity"
            android:label="@string/title_activity_theme_switch"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VerificationCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CustomWebAppUrlProtocolAndIpActivity"/>
        <activity android:name=".activity.ChatVideoInfoActivity"/>
        <activity
            android:name=".activity.ChatNewGroupChatOrAddUserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ChatGroupDeleteUserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ChatGroupInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.artifex.mupdfdemo.MuPDFActivity"/>
        <activity
            android:name=".message.activity.TranspondActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SkipActivity"
            android:label="@string/title_activity_skip">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="apppubsnews"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LogsListActivity"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".activity.ImageViewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".message.activity.UserPickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".message.activity.FilePickerLocalActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".webapp.WebUserPickerActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <receiver
            android:name=".receiver.ConnectionChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.DownloadAppService"/>
        <service android:name=".service.LocationService"/>
        <!-- <service android:name=".service.SearchService" > -->
        <!-- </service> -->


        <!-- 极光推送 -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"/>

        <!-- Required SDK 核 功能 -->
        <!-- option since 2.0.5 可配置android:process 参数将PushService设置为独 进程 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.apppubs.d20"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".home.CompelMessageDialogActivity"
            android:theme="@style/CompelReadDialogStyle">
        </activity>
        <activity
            android:name=".message.activity.FilePickerChooseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".message.activity.FilePickerMyFileActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"/>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="com.apppubs.d20"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/> <!-- Required  显示通知栏 -->
                <category android:name="com.apppubs.d20"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>
        <!-- 融云自定义通知 -->
        <receiver
            android:name=".message.receiver.RongPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED"/>
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".message.receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.apppubs.d20"/>
            </intent-filter>
        </receiver>

        <service android:name="com.amap.api.location.APSService"></service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.apppubs.d20.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path"/>
        </provider>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}"/> <!-- </>值来自开发者平台取得的AppKey -->


        <!-- 极光推送结束 -->


        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="gXTQ44ISYRpdRorvo84c9N7j"/>

        <!-- SugureORM -->
        <meta-data
            android:name="DATABASE"
            android:value="myportal.db"/>
        <meta-data
            android:name="VERSION"
            android:value="4"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.apppubs.d20"/>
        <meta-data
            android:name="APPCODE"
            android:value="${APPCODE}"/>
        <meta-data
            android:name="BASE_URL"
            android:value="${BASE_URL}"/>
        <!-- 默认是1 手机、pad都为竖屏，2.手机pad分别为竖屏、横屏 3.手机pad均为横屏 4.手机pad分别为横屏、竖屏 -->
        <meta-data
            android:name="DISPLAY_ORIENTATION"
            android:value="${DISPLAY_ORIENTATION}"/>

        <meta-data
            android:name="ENABLE_SPLASH_SKIP"
            android:value="${ENABLE_SPLASH_SKIP}"
            ></meta-data>
    </application>

</manifest>